<div class="content bg-white border-b">
    <div class="row items-push text-uppercase">
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Sales</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">17980</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Order</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">27</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Invoice</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">13</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Subscription</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">10</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Paid</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Rs 5000</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Owing</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Rs 15000</a>
        </div>
    </div>
</div>

<!-- Statistics Widgets -->
<h2 class="content-heading">Sales Summary</h2>

<!-- Jquery Sparkline (initialized in js/pages/base_ui_widgets.js), for more examples you can check out http://omnipotent.net/jquery.sparkline/#s-about -->
<div class="row">
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Subscription</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="subscriptionValue" options="subscriptionOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-4">
                        <div class="push-5"><i class="si si-graph fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250 Active</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="push-5"><i class="si si-users fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250 Pause</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="push-5"><i class="si si-users fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250 Stop</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Collections</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="collectionValue" options="collectionOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-4">
                        <div class="push-5"><i class="si si-bag fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">Rs 20000</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="push-5"><i class="si si-basket-loaded fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">5000 Pending</div>
                    </div>
                    <div class="col-xs-4">
                        <div class="push-5"><i class="si si-check fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">1000 Comp.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Conversion Ratio</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="conversionValue" options="conversionOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-wallet fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250 Sample</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-graph fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">200 Subscription</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Total Owing</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="owingValue" options="owingOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-wallet fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250 Customer Owing</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-graph fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">Rs 135000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Jquery Sparkline -->

<!--Table Home-->
<div ng-repeat="relationDetail in modelToLoad" ng-include="'detailView/views/tableView.html'"></div>


<!-- For showing dialog box -->
<snaphy-dialog
        message="{{dialog.message}}"
        table-title="{{dialog.title}}"
        on-cancel="dialog.onCancel()"
        on-confirm="dialog.onConfirm()"
        show-dialog="dialog.show">
</snaphy-dialog>
