<div class="content bg-white border-b">
    <div class="row items-push text-uppercase">
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Sales</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">17980</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Order</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">27</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Invoice</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">13</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Subscription</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">10</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Paid</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Rs 5000</a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="font-w700 text-gray-darker animated fadeIn">Owing</div>
            <a class="h2 font-w300 text-primary animated flipInX" href="javascript:void(0)">Rs 15000</a>
        </div>
    </div>
</div>

<!-- Statistics Widgets -->
<h2 class="content-heading">Sales Summary</h2>

<!-- Jquery Sparkline (initialized in js/pages/base_ui_widgets.js), for more examples you can check out http://omnipotent.net/jquery.sparkline/#s-about -->
<div class="row">
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Weekly Sales</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="subscriptionValue" options="subscriptionOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-graph fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250 Sales</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-users fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">+ 15% Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Weekly Tickets</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="collectionValue" options="collectionOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-support fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">29 Tickets</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-check fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">15 Resolved</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Weekly Earnings</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="conversionValue" options="conversionOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-wallet fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">250</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-graph fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">Rs 135000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="block">
            <div class="block-header">
                <ul class="block-options">
                    <li>
                        <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                    </li>
                </ul>
                <h3 class="block-title">Total Owings</h3>
            </div>
            <div class="block-content block-content-full text-center bg-gray-lighter">
                <snaphy-sparkline value="owingValue" options="owingOptions"></snaphy-sparkline>
            </div>
            <div class="block-content">
                <div class="row items-push text-center">
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-wallet fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">$ 1.900</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="push-5"><i class="si si-graph fa-2x"></i></div>
                        <div class="h5 font-w300 text-muted">+ 50% Earnings</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Jquery Sparkline -->

<!--Table Home-->
<div ng-repeat="relationDetail in modelToLoad" ng-include="'detailView/views/tableView.html'"></div>
